html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  background: #a7acae;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.header {
  font-size: 40px;
}

.box {
  width: 734px;
  height: 382px;
  border-radius: 22px;
  background: #a7acae;
  box-shadow: inset 14px -14px 28px #8c9092, inset -14px 14px 28px #c2c8ca;
  position: relative;
  padding: 16px;
  &__form {
    margin-top: 40px;
    text-align: center;
  }
}

.area {
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  width: 631px;
  height: 200px;
  border: none;
  border-radius: 38px;
  background: #a7acae;
  box-shadow: inset 6px 6px 11px #828688, inset -6px -6px 11px #ccd2d4;
}

textarea {
  max-width: 90%;
  max-height: 200px;
}

.buttons {
  position: absolute;
  right: 10px;
  bottom: 30px;
  margin: 10px;
}

.save {
  color: white;
  border-radius: 4px;
  border: none;
  width: 64px;
  height: 40px;
  border-radius: 9px;
  background: #a7acae;
  box-shadow: inset 5px 5px 10px #8e9294, inset -5px -5px 10px #c0c6c8;
  margin-right: 20px;
}

.load {
  color: white;
  border-radius: 4px;
  border: none;
  width: 65px;
  height: 40px;
  border-radius: 9px;
  background: #a7acae;
  box-shadow: inset 5px 5px 10px #8e9294, inset -5px -5px 10px #c0c6c8;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .box {
    width: 100%;
    margin: 0 16px;
  }
}

@media (max-width: 400px) {
  .area {
    font-size: 18px;
}

.header {
  font-size: 30px;
}
}