body {
  background: #a7acae;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: 4opx;
}

.box {
  width: 734px;
  height: 382px;
  border-radius: 22px;
  background: #a7acae;
  box-shadow: inset 14px -14px 28px #8c9092, inset -14px 14px 28px #c2c8ca;
}

.area {
  display: flex;
  margin-top: 40px;
  margin-left: 64px;
  font-size: 25px;
  width: 608px;
  height: 264px;
  border: none;
  border-radius: 22px;
  background: #a7acae;
  box-shadow: inset 27px -27px 53px #818486, inset -27px 27px 53px #cdd4d6;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.save {
  background: #962121;
  color: white;
  border-radius: 4px;
  border: none;
  width: 64px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

.load {
  background: #219653;
  color: white;
  border-radius: 4px;
  border: none;
  width: 65px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}
